body {
	background-image: url("https://i.imgur.com/jGEsdzd.png");
	background-size: 10%;
}

#outro {
	background-color: white;
	margin-left: 25%;
	margin-top: 3%;
	padding-bottom: 0.5%;
	border-radius: 5px;
	border: 2px;
	border-color: rgb(0, 35, 131);
	border-style: groove;
	box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
}

#outro2{
	color: #2176ff;
}