body {
	background-image: url("https://i.imgur.com/jGEsdzd.png");
	background-size: 10%;
}

#outro {
	color: blue;
	background-image: url(https://i.makeagif.com/media/7-27-2016/l7B0ZU.gif);
	margin-left: 25%;
	padding-bottom: 0.5%;
}

#outro2{
	
	color: white;

}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}